.display-container{
  margin: 2%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

mat-card{
  flex-basis: 20%;
  padding: 2%;
  margin: .5rem;
}

.extended-hide mat-card-content{
  display: none;
}

.extended-show mat-card-content{
  display: block;
}

.tag{
  margin: 3px;
  padding: 4px 10px;
}
.tag-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
.filter-form-field{
  width: 100%;
}

