<mat-toolbar color="primary">
  <a *ngIf="!userIsAuthenticated" mat-button routerLink="/login" routerLinkActive="mat-accent">Login</a>
  <a *ngIf="!userIsAuthenticated" mat-button routerLink="/signup" routerLinkActive="mat-accent">Signup</a>
  <a *ngIf="userIsAuthenticated" mat-button routerLink="/writing-desk" routerLinkActive="mat-accent">Writing Desk</a>
  <a *ngIf="userIsAuthenticated" mat-button routerLink="/shop" routerLinkActive="mat-accent">Shop</a>
  <a *ngIf="userIsAuthenticated" mat-button routerLink="/library" routerLinkActive="mat-accent">Library</a>
  <a *ngIf="userIsAuthenticated" mat-button routerLink="/review" routerLinkActive="mat-accent">Review</a>
  <a *ngIf="userIsAuthenticated" mat-button routerLink="/administration" routerLinkActive="mat-accent">Administration</a>
  <button *ngIf="userIsAuthenticated" (click)="onLogout()" mat-button>Logout</button>
</mat-toolbar>
